<div *ngIf="selectedCountry">

  <h2>{{selectedCountry.name}}</h2>
  <img src="{{selectedCountry.flag}}" alt="Flag" style="width:50px;height:40px;">

  <div>
    <label>Domain: </label> {{selectedCountry.domain}}
  </div>

  <div>
    <label>Capital: </label> {{selectedCountry.capital}}
  </div>

  <div>
    <label>Region: </label> {{selectedCountry.region}}
  </div>

  <div>
    <label>Subregion: </label> {{selectedCountry.subregion}}
  </div>

  <div>
    <label>Population: </label> {{selectedCountry.population}}
  </div>

  <div>
    <label>Area: </label> {{selectedCountry.area}}
  </div>

  <div>
    <label>Timezone: </label> {{selectedCountry.timezone}}
  </div>

  <div>
    <label>Borders: </label> {{selectedCountry.borders}}
  </div>

  <div>
    <label>Currencies: </label> {{selectedCountry.currencies}}
  </div>

  <div>
    <label>Languages: </label> {{selectedCountry.languages}}
  </div>

</div>
