<div class="app-country-details"  *ngIf="selectedCountry">

  <h2>{{selectedCountry.name}}</h2>
  <img id="flag" src="{{selectedCountry.flag}}" alt="Flag">

  <div>
    <label>Domain: </label> {{selectedCountry.topLevelDomain}}
  </div>

  <div>
    <label>Capital: </label> {{selectedCountry.capital}}
  </div>

  <div>
    <label>Region: </label> {{selectedCountry.region}}
  </div>

  <div>
    <label>Subregion: </label> {{selectedCountry.subregion}}
  </div>

  <div>
    <label>Population: </label> {{selectedCountry.population}}
  </div>

  <div>
    <label>Area: </label> {{selectedCountry.area}}
  </div>

  <div>
    <label>Borders:&nbsp;</label><a *ngFor="let brd of selectedCountry.borders" routerLink="/detail/{{brd}}">{{brd}}, </a>
  </div>

  <div>
    <label>Currencies:&nbsp;</label><span *ngFor="let currency of selectedCountry.currencies">{{currency.code}}, </span>
  </div>

  <div>
    <label>Languages:&nbsp;</label><span *ngFor="let language of selectedCountry.languages">{{language.name}}, </span>
  </div>

  <app-covid19></app-covid19>

</div>
