<h2>Country search by</h2>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#" (click)="selectSearchBy('name')">NAME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="selectSearchBy('capital')">CAPITAL CITY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="selectSearchBy('currency')">CURRENCY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="selectSearchBy('lang')">LANGUAGE</a>
  </li>
</ul>

<div class="form-group">
  <input #searchBox class="form-control" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-primary" type="submit" (click)="search(searchBox.value)">Search</button>
</div>

<app-countries [countries]="countries"></app-countries>
